<!-- <footer>
    <div class="centered_div">

        <div class="panel">


            <div class="c1 r">
                <div class="title">
                    <h3>
                        Sarah
                        <span>
                            Design
                        </span>
                    </h3>
                </div>
                <div class="body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris ornare elementum consectetur. Fusce id leo id nisi
                        consectetur adipiscing elit. nare elementum consctetur adipiscing elit.
                        lit. nare elementum consct
                    </p>
                    <a href="">
                        More...
                    </a>
                    <a href="#" class="tel-number">
                        <span class="material-icons tel-icon">
                            call
                        </span>
                        +1 (809) 536-5749
                    </a>
                </div>




            </div>


            <div class="c1 c2 r">
                <div class="title">
                    <h3>
                        About us
                    </h3>
                </div>
                <div class="body">

                </div>





            </div>
            <div class="c3 r">

            </div>
            <div class="c4 r">

            </div>
            <div class="c5">

            </div>
        </div>



        <div class="links_div">
            <p>Copyright © 2023 Gamora Design. All Rights Reserved.</p>

            <nav>
                <a href="#">
                    <img src="../../../../assets/icons/FB_icon-icons.com_65484.svg" alt="">
                    Facebook
                </a>
                <a href="#">
                    <img src="../../../../assets/icons/FB_icon-icons.com_65484.svg" alt="">
                    Twitter
                </a>
                <a href="#">
                    <img src="../../../../assets/icons/FB_icon-icons.com_65484.svg" alt="">
                    Instagram
                </a>
                <a href="#">
                    <img src="../../../../assets/icons/FB_icon-icons.com_65484.svg" alt="">
                    LinkedIn
                </a>
            </nav>
        </div>

    </div>
</footer> -->

<footer>
    <div class="centered_div">
        <div class="panel">

        </div>

        <div class="links_div">
            <p>Copyright © 2023 Gamora Design. All Rights Reserved.</p>

            <nav>
                <a href="#">
                    <img class="colored-svg" src="../../../../assets/icons/facebook_icon_130940.svg" alt="">
                    Facebook
                </a>
                <a href="#">
                    <img src="../../../../assets/icons/FB_icon-icons.com_65484.svg" alt="">
                    Twitter
                </a>
                <a href="#">
                    <img src="../../../../assets/icons/FB_icon-icons.com_65484.svg" alt="">
                    Instagram
                </a>
                <a href="#">
                    <img src="../../../../assets/icons/FB_icon-icons.com_65484.svg" alt="">
                    LinkedIn
                </a>
            </nav>
        </div>

    </div>

</footer>